@import 'colors.scss';

:root {
  --primary-color: var(--mat-blue-500);
  --accent-color: var(--mat-amber-500);
  --warn-color: var(--mat-red-500);

  --text-color: var(--mat-grey-900);
  --disabled-color: var(--mat-grey-500);
  --background-color: var(--mat-grey-100);

  // NOTE: these set in params.ts
  --map-cxNominal: 0;
  --map-cyNominal: 0;
  --map-cxTile: 0;
  --map-cyTile: 0;
  --map-numXTiles: 0;
  --map-numYTiles: 0;
  --map-scale: 1;
}

* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 150%;
  overflow: auto;
  user-select: none;
  width: 100%;
}

html {
  border: 0;
  font-size: 10px;
  height: 100%;
  width: 100%;
}

.icon-bridge {
  .edges {
    fill: transparent;
    stroke: var(--mat-blue-grey-500);
    stroke-width: 1;
  }
  .roadway {
    fill: white;
  }
}

.icon-wetland {
  fill: rgba(var(--rgb-blue-200), 0.5);
  transform: scale(calc(1 / var(--map-scale)));
}

map-root {
  main {
    border: 3px solid var(--mat-grey-600);
    height: calc(var(--map-cyNominal) * var(--map-scale));
    position: relative;
    width: calc(var(--map-cxNominal) * var(--map-scale));

    map-boundary,
    map-bridges,
    map-contours,
    map-culverts,
    map-dep,
    map-forest,
    map-labels,
    map-street,
    map-topo,
    map-tracks {
      height: 100%;
      position: absolute;
      width: 100%;
    }

    map-boundary,
    map-bridges,
    map-culverts,
    map-labels,
    map-tracks {
      svg {
        height: 100%;
        width: 100%;

        & > g {
          transform: scale(var(--map-scale), var(--map-scale));
        }
      }
    }

    map-boundary {
      svg {
        g polygon {
          fill: transparent;
          stroke: var(--mat-blue-grey-500);
          stroke-dasharray: 4;
          stroke-width: 3;
        }
      }
    }

    map-contours {
      svg {
        & > g {
          transform: scale(1, 1);
        }

        g path {
          stroke-dasharray: 2;
          stroke-width: calc(0.5 / var(--map-scale));
        }

        g#Labels path {
          fill-opacity: 0;
          stroke-opacity: 0;
        }

        g#Labels text {
          transform: scale(calc(1 / var(--map-scale)));
        }

        g rect {
          fill-opacity: 0;
        }
      }
    }

    map-culverts {
      g path {
        stroke: var(--mat-grey-700);
        stroke-dasharray: 1;
        stroke-width: 1;
      }

      g text {
        fill: var(--mat-grey-700);
        font-size: 4pt;
        transform: rotate(-90deg);
      }
    }

    map-image {
      display: block;
      height: calc(var(--map-cyNominal) * var(--map-scale));
      position: relative;
      width: calc(var(--map-cxNominal) * var(--map-scale));

      canvas {
        height: var(--map-cyNominal);
        position: absolute;
        visibility: hidden;
        width: var(--map-cxNominal);
      }

      img {
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }

    map-labels[key='landmarks'] {
      svg {
        g text {
          fill: var(--mat-grey-600);
        }
      }
    }

    map-labels[key='watermarks'] {
      svg {
        g text {
          fill: var(--mat-blue-600);
        }
      }
    }

    map-labels {
      svg {
        g text {
          font-size: max(calc(10pt / var(--map-scale) * 2), 10pt);
          font-style: italic;
        }
      }
    }

    map-tile {
      display: inline-block;
      height: calc(var(--map-cyTile) * var(--map-scale));
      position: relative;
      vertical-align: top;
      width: calc(var(--map-cxTile) * var(--map-scale));

      canvas {
        height: var(--map-cyTile);
        position: absolute;
        visibility: hidden;
        width: var(--map-cxTile);
      }

      img {
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }

    map-tracks[key='buildings'] {
      svg {
        g path {
          fill: url(#halftone);
          stroke-width: 0;
        }
      }
    }

    map-tracks[key='ditches'] {
      svg {
        g path {
          fill: transparent;
          stroke: var(--mat-blue-400);
          stroke-dasharray: 1;
          stroke-width: 1;
        }
      }
    }

    map-tracks[key='driveway'] {
      svg {
        g path[id='outline'] {
          fill: transparent;
          stroke: var(--mat-grey-500);
          stroke-width: 5;
        }

        g path[id='background'],
        g path[id='colorized'] {
          fill: transparent;
          stroke: white;
          stroke-width: 3;
        }
      }
    }

    map-tracks[key='mow'] {
      svg {
        g path {
          fill: rgba(var(--rgb-yellow-300), 0.25);
          stroke-width: 0;
        }
      }
    }

    map-tracks[key='trails'] {
      svg {
        g[id='Central loop'] path[id='colorized'],
        g[id='Inner loop'] path[id='colorized'],
        g[id='Outer loop'] path[id='colorized'],
        g[id='Park Lane'] path[id='colorized'] {
          fill: transparent;
          stroke: rgba(var(--rgb-red-900), 0.25);
          stroke-width: 3;
        }

        g path[id='outline'] {
          fill: transparent;
          stroke: var(--mat-grey-500);
          stroke-width: 5;
        }

        g path[id='background'],
        g path[id='colorized'] {
          fill: transparent;
          stroke: white;
          stroke-width: 3;
        }
      }
    }

    map-tracks[key='water'] {
      svg {
        g[id='Frog Pond'] path,
        g[id='Pond'] path,
        g[id='Sacrificial Pool'] path {
          fill: var(--mat-blue-200);
          stroke-width: 0;
        }

        g[id='Swamp'] path {
          fill: url(#wetland);
          stroke-width: 0;
        }

        g[id='Underground'] path {
          fill: transparent;
          stroke: var(--mat-blue-200);
          stroke-dasharray: 2;
          stroke-width: 2;
        }

        g[id='Lower Flo'] path,
        g[id='River Flo'] path {
          fill: transparent;
          stroke: var(--mat-blue-200);
          stroke-width: 3;
        }

        g path {
          fill: transparent;
          stroke: var(--mat-blue-200);
          stroke-width: 2;
        }
      }
    }
  }
}
